
form{
    font-size: 25px;
  
  
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}




label{
    font-family: "Hanuman",  serif;
    font-size: 25px;

}


.input{

    font-family: "Hanuman",  serif;

 
    background-color: black;
    color: white;


    border: 2px solid white;

    height: auto;
    min-height: 30px;
    width: 250px;
    font-size: 14px;
    border-radius: 5px;
}


.button{


 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;

    padding: 0;

    height: 35px;
    width: 100px;

    border-radius: 5px;

    background-color: #00FFFF;

    border: 2px solid #00FFFF;

    color: black;






}

.button:hover{
    background-color: white;

    border-color:  white;
}



.authLink{
    color: white;
    font-size: 20px;


}